body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(27, 27, 27);
    font-family: 'Charter','Helvetica','Yu Gothic','Osaka',sans-serif;
}
/* タブ */
.menu {
    background-color: rgba(32,73,105,1);
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 16px;
    list-style: none;
}
.fa-home {
    color: #fff;
}
.fa-user-alt {
    color: #fff;
}
.fa-pencil-alt {
    color:#fff;
}
.fa-desktop {
    color: #fff;
}
.menu li a i {
    margin: 10px;
    font-size: 22px;
}
.menu li a {
    text-align: center;
    padding: 8px 10px 0px;
    width: 75px;
}
.menu li p {
    font-size: 10px;
}
.menu li a:hover {
    background-color: rgba(32,73,105,.8);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgb(49, 91, 122);
    border-color: #dee2e6 #dee2e6 rgb(151, 151, 151);
}
.nav-link p {
    color: #fff;
}
/* タブ内容 */
.tab1-content,
.tab3-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/texture524_7_TP_V.jpg);
    background-color:rgba(32,73,105,.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    height: 100vh;
}
.tab2-content {
    background-image: url(https://pro-foto.jp/free/img/images_big/sor0087-024.jpg);
    background-color:rgba(32,73,105,.9);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
}
.tab4-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/TKL6149656_TP_V.jpg);
    background-color: rgb(255, 255, 255, .7);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
}

.page {
    padding: 16px 0;
    text-align: center;
    padding-top: 200px;
}
.profile, .skills, .application {
    padding: 16px 0;
    text-align: center;
    padding-top: 120px;
}
.tab1-content {
    opacity: .7;
}
.tab3-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/PAK15_notepenhikkiyougu20140312_TP_V.jpg);
}
h2 {
    color: rgba(32,73,105,.9);
    font-weight: 700;
    opacity: .9;
}

/* トップ */
.page h1 {
    font-size: 46px;
    color: #000;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}
.page p {
    font-size: 24px;
    margin-top: 50px;
}

/* プロフィール */
.profile {
    width: 100%;
}
.profile ul {
    padding: 10px;
    margin: 0 auto;
    background-color: transparent;
    list-style: none;
    vertical-align: top;
}
.profile li {
    margin-left: 15px;
    text-align: left;
    margin-top: 30px;
    color: black;
}
.profile li p {
    margin: 0 0 0 30px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}
.profile img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    opacity: 1;
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
}

/* スキル */
.skills h2 {
    margin-bottom: 30px;
}
.skills div {
    background-color: transparent;
}
.skills i {
    font-size: 18px;
    padding: 0;
}
.skills .card p {
    display: inline-block;
    margin: 0 0 0 7px;
    color: rgb(70, 69, 69);
}
.skills .card button {
    width: 100%;
}
.skills span {
    margin-left: 20px;
    color: rgb(107, 106, 106);
}
.fa-html5 {
    color: orange;
}
.fa-css3 {
    color: rgb(121, 201, 233);
}
.fa-bootstrap {
    color: rgb(141, 10, 141);
}
.fa-js {
    color: yellow;
    text-shadow: 1px 1px 1px black;
}
.fa-js > p {
    text-shadow: none;
}
.fa-vuejs {
    color: rgb(47, 255, 64);
}
.card-header button i {
    font-size: 24px;
    font-weight: 700;
}
.card .card-body {
    background-color: rgb(248, 247, 247);
}
.skills .study {
    font-weight: 400;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.skills .study li {
    margin-top: 10px;
}
.skills .study li p {
    vertical-align: top;
}
.skills .study li:first-child {
    margin-top: 0px;
}
.skills .card-header span {
    transition: .5s;
}
#accordion button[data-toggle="collapse"]{
    display: block;
    padding: 10px;
    text-decoration: none;
    position: relative;
}
#accordion button[data-toggle="collapse"]::after{
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    border-top: rgb(70, 69, 69) 3px solid;
    border-right: rgb(70, 69, 69) 3px solid;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
#accordion button[aria-expanded=false]::after{
    transform: rotate(45deg);
    transition-duration: 0.3s;
}
#accordion button[aria-expanded=true]::after{
    transform: rotate(135deg);
    transition-duration: 0.3s;
}
/* アプリ */
.app {
    margin: 20px 0;
}
.app .search-photo {
    margin-top: 20px;
}
.app p {
    padding: 10px;
    margin-top: 14px;
}
.app img {
    transition: .1s;
}
.app img:hover {
    opacity: .8;
    transform: scale(1.1);
}


@media(min-width:576px) {
    /* タブ */
    .nav-tabs .nav-link {
        padding: 10px 0 0;
        width: 120px;
    }
    /* タブ内容 */
    .profile, .skills, .application {
        padding-top: 150px;
    }
    
    /* トップ */
    div .page {
        padding-top: 250px;
    }
    .page h1 {
        font-size: 75px;
    }
    .page p {
        font-size: 36px;
    }
    /* プロフィール */
    .tab2-content {
        height: 100vh;
    }
    .profile div {
        width: 75%;
        margin: 0 auto;
    }
    .profile img {
        margin-left: auto;
    }
    .profile ul {
        padding-left: 100px;
    }
    .profile li p {
        font-size: 20px;
    }
    /* スキル */
    .tab3-content {
        height: auto;
        height: 100vh;
    }
    .skills .card-body ul {
        width: 75%;
        margin: 0 auto;
    }
    .skills .study li p {
        padding-left: 16px;
        vertical-align: top;  
    }
    .skills h2 {
        margin-bottom: 70px;
    }
    /* アプリ */
    .tab4-content {
        height: 100vh;
    }
    .app p {
        margin: 0 20px;
        font-size: 20px;
    }
    .app .search-photo {
        padding-top: 0px;
        margin-top: 20px;
    }
    .would-weather {
        margin-top: 50px;
    }
    .would-weather div,
    .search-photo div {
        width: 75%;
        margin: 0 auto;
    }
}
