body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.6;
    color: rgb(43, 42, 42);
    font-family: 'Charter','Helvetica','Yu Gothic','Osaka',sans-serif;
}
body p {
    letter-spacing: 1px;
}
/* タブ */
.menu {
    background-color: rgba(27, 40, 59, 0.555);
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 16px;
    list-style: none;
}
.fa-home {
    color: #fff;
}
.fa-user-alt {
    color: #fff;
}
.fa-pencil-alt {
    color:#fff;
}
.fa-desktop {
    color: #fff;
}
.menu li a i {
    margin: 10px;
    font-size: 22px;
}
.menu li a {
    text-align: center;
    padding: 8px 0px 0px;
    width: 75px;
}
.menu li a p {
    font-size: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgba(21, 52, 77, 0.377);
    border-color: #dee2e6 #dee2e6 rgb(151, 151, 151);
}
.nav-link p {
    color: #fff;
}
/* タブ内容 */
.tab1-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/texture524_7_TP_V.jpg);
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    height: 100vh;
    opacity: .7;
}
.tab2-content {
    background-image: url(https://pro-foto.jp/free/img/images_big/sor0087-024.jpg);
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    height: 100vh;

}
.tab3-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/PAK15_notepenhikkiyougu20140312_TP_V.jpg);
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    height: 100vh;
}
.tab4-content {
    background-image: url(https://www.pakutaso.com/shared/img/thumb/TKL6149656_TP_V.jpg);
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:lighten;
}
.page {
    padding: 16px 0;
    text-align: center;
    padding-top: 200px;
}
.profile, .skills, .application {
    padding: 16px 0;
    text-align: center;
    padding-top: 140px;
}
h2 {
    color: rgba(25, 26, 39, 0.9);
    text-shadow: 2px 2px 2px rgb(112, 110, 110);
    font-weight: 700;
    opacity: .9;
    letter-spacing: 3px;
}
.application h2 {
    text-shadow: rgb(211, 206, 206);
}
/* トップ */
.page h1 {
    font-size: 46px;
    color: #000;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
    letter-spacing: 10px;
}
.page p {
    font-size: 24px;
    margin-top: 50px;
}

/* プロフィール */
.profile {
    width: 100%;
}
.profile ul {
    padding: 15px;
    margin: 0 auto;
    background-color: transparent;
    list-style: none;
    vertical-align: top;
}
.profile li {
    text-align: left;
    margin-top: 30px;
    color: black;
    font-size: .8rem;
}
.profile li p {
    float: right;
    width: 80%;
    display: inline-block;
    font-size: .8rem;
}

/* スキル */
.skills h2 {
    margin-bottom: 50px;
}
.skills div {
    background-color: transparent;
}
.skills .card-body {
    border-top: .3px solid #d8dde2;
    background-color: #fff;
}
.skills i {
    margin-top: 5px;
}
.skills .size {
    font-size: 2rem;
}
.skills p {
    font-size: .8rem;
    margin: 5px 0 0 0;
}
.skills .study p {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    margin: 0;
    margin-left: 10%;
}
.skills a {
    display: block;
}
.skills .card-header {
    padding: 0;
}
.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills ul li {
    text-align: left;
    font-size: .8rem;
}
#header-1:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
#header-2:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
#header-3:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
#header-4:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
#header-5:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
#header-6:hover {
    background-color: rgba(218, 223, 233, 0.5);
}
.skills .fa-html5 {
    color: rgb(255, 115, 0);
    text-shadow: 1px 1px 1px gray;
}
.skills .fa-css3 {
    color: rgb(0, 162, 255);
    text-shadow: 1px 1px 1px gray;
}
.skills .fa-bootstrap {
    color: rgb(132, 0, 255);
    text-shadow: 1px 1px 1px gray;
}
.skills .fa-js {
    color: rgb(255, 230, 0);
    text-shadow: 1px 1px 1px gray;
}
.skills .fa-vuejs {
    color: rgb(51, 255, 0);
    text-shadow: 1px 1px 1px gray;
}
.skills .fa-react {
    color: rgb(0, 247, 255);
    text-shadow: 1px 1px 1px gray;
}
.collapse {
    padding: 0;
}

/* アプリ */
.app {
    margin: 20px 0;
}
.app .search-photo {
    margin-top: 20px;
}
.app p {
    margin: 14px auto 0;
    width: 80%;
    font-size: 14px;
}
.app img {
    transition: .1s;
}
.app img:hover {
    opacity: .8;
    transform: scale(1.1);
}
.app .search-photo {
    margin-top: 40px;
}


@media(min-width:576px) {
    /* タブ */
    .nav-tabs .nav-link {
        padding: 10px 0 0;
        width: 120px;
    }
    /* タブ内容 */
    .profile, .skills, .application {
        padding-top: 150px;
    }
    
    /* トップ */
    div .page {
        padding-top: 250px;
    }
    .page h1 {
        font-size: 75px;
    }
    .page p {
        font-size: 36px;
    }
    /* プロフィール */
    .profile div {
        padding-top: 50px;
        width: 75%;
        margin: 0 auto;
    }
    .profile li p {
        font-size: 16px;
    }
    /* スキル */
    .tab3-content {
        padding-bottom: 50px;
        height: auto;
    }
    .skills .card-body ul {
        width: 75%;
        margin: 0 auto;
    }
    .skills .study li p {
        padding-left: 16px;
        vertical-align: top;  
    }
    .skills h2 {
        margin-bottom: 70px;
    }
    /* アプリ */
    .tab4-content {
        height: 100vh;
    }
    .app p {
        margin: 0 20px;
        font-size: 1rem;
    }
    .would-weather, .search-photo {
        margin: 0 auto;
        margin-top: 50px;
        width: 70%;
    }
    .would-weather div,
    .search-photo div {
        width: 70%;
        margin: 0 auto;
    }
}
